.customcolor{
    background-color: #E83E8C;
}
.customcolor{
    color: #e3f2fd
}
.customcolor{
    color: #00080f
}
.customcolor{
    color: white
}
.customcolor{
    color: #17a2b8
}

 ● #fffovar(--white)
 #e83e8covar(--pink);
 ● #17a2b8ovar(--info)

 OpenSans(sacardesdeGoogle Fonts).
 Weight:
 ● OpenSansRegular(400).
 ● OpenSansBold(700)